---
import { getEntry } from "astro:content";
import Layout from '../layouts/Layout.astro';

const config = await getEntry('config', 'config');

//const allSingleChoices = await getCollection('single_choice');
---

<Layout title="title">
    <h1>9. November</h1>
    <a class="bg-white text-black rounded-lg text-2xl p-2.5 primary mb-3" href={`/quiz/${config.data.page_list.at(0)!.id ?? ``}`}>Quiz starten</a>
    <a class="rounded-lg text-2xl p-2.5 secondary mb-3" href="/title_test">Title Test</a>
    <a class="rounded-lg text-2xl p-2.5 secondary">Credits</a>
    <!--{
        allSingleChoices.map((singleChoice) => (
                <a href={`/quiz/${singleChoice.slug}`}>{singleChoice.data.title}</a>
        ))
    }-->
</Layout>

<style>
    h1 {
        font-family: "Playfair Display Variable", serif;
        font-variant-caps: small-caps;
        font-size: 4rem;
        font-weight: 600;

        margin-bottom: 0.25em;
    }

    a {
        border: 1px solid black;

        user-select: none;
    }

    .primary {
        width: 90%;
        font-family: 'Space Grotesk Variable', sans-serif;
    }

    .primary:active {
        transform: scale(0.95);
        background-color: #dadada;
    }

    .secondary {
        width: 90%;

        font-family: 'Space Grotesk Variable', sans-serif;

        background-color: rgb(16, 16, 16);
        color: white;
    }

    .secondary:active {
        transform: scale(0.95);
        background-color: rgb(19, 19, 19);
    }
</style>