---
import { getEntry } from "astro:content";
import Layout from '../layouts/Layout.astro';

import scheidemann from '../images/scheidemann.webp';

const config = await getEntry('config', 'config');

//const allSingleChoices = await getCollection('single_choice');
---

<Layout title="title" image={scheidemann} image_name={"scheidemann.webp"}>
    <h1>9. November</h1>
    <h3>Quiz zum Jahr 1918</h3>
    <a class="bg-white text-black rounded-lg text-2xl p-2.5 primary mb-3" href={`/quiz/${config.data.page_list.at(0)!.type ?? ``}/${config.data.page_list.at(0)!.id ?? ``}`}>Quiz starten</a>
    <a class="rounded-lg text-2xl p-2.5 secondary mb-3">Gallerie</a>
    <a class="rounded-lg text-2xl p-2.5 secondary">Credits</a>
    <!--{
        allSingleChoices.map((singleChoice) => (
                <a href={`/quiz/${singleChoice.slug}`}>{singleChoice.data.title}</a>
        ))
    }-->
</Layout>

<style>
    h1 {
        font-family: "Playfair Display Variable", serif;
        font-variant-caps: small-caps;
        font-size: 4rem;
        font-weight: 600;
        line-height: 0.8;

        margin-top: 0.5em;
    }

    h3 {
        font-family: "Playfair Display Variable", serif;
        font-size: 1.5rem;
        font-weight: 600;

        align-self: end;

        margin-bottom: 1.2em;
        margin-right: 1.8em;
    }

    a {
        border: 1px solid black;

        user-select: none;
    }

    .primary {
        width: 90%;
        font-family: 'Space Grotesk Variable', sans-serif;
    }

    .primary:active {
        transform: scale(0.95);
        background-color: #dadada;
    }

    .secondary {
        width: 90%;

        font-family: 'Space Grotesk Variable', sans-serif;

        background-color: rgb(16, 16, 16);
        color: white;
    }

    .secondary:active {
        transform: scale(0.95);
        background-color: rgb(19, 19, 19);
    }
</style>