---
import Layout from '../layouts/Layout.astro';
---

<Layout title="title">
    <h1>9. November</h1>
    <h1>9. November</h1>
    <h1>9. November</h1>
    <h1>9. November</h1>
    <h1>9. November</h1>
    <h1>9. November</h1>
</Layout>

<style>
    h1:nth-child(1) {
        font-family: "Teko Variable", sans-serif;
        font-variant-caps: small-caps;
        font-size: 4rem;

    }

    h1:nth-child(2) {
        font-family: "Oswald Variable", sans-serif;
        font-variant-caps: small-caps;
        font-size: 4rem;
    }

    h1:nth-child(3) {
        font-family: 'UnifrakturMaguntia', system-ui;
        font-size: 4rem;
    }

    h1:nth-child(4) {
        font-family: "Abril Fatface", serif;
        font-variant-caps: small-caps;
        font-size: 4rem;
    }

    h1:nth-child(5) {
        font-family: "DM Serif Display", serif;
        font-variant-caps: small-caps;
        font-size: 4rem;
    }

    h1:nth-child(6) {
        font-family: "Playfair Display Variable", serif;
        font-variant-caps: small-caps;
        font-size: 4rem;
    }
</style>